<h1>Block Params Test</h1>

<Multiselect-checkboxes id="person_checkboxes" @options={{this.persons}} @selection={{this.selectedPersons}} as |person isSelected index|>
  <li>
    <label>
      <Input @type="checkbox" @checked={{isSelected}}/>
      {{index}} --{{person.name}}--
    </label>
  </li>
</Multiselect-checkboxes>

<p>Selected persons:
  <ul id="selected_persons_list">
    {{#each this.selectedPersons as |person|}}
      <li>name: {{person.name}}, gender: {{person.gender}}</li>
    {{/each}}
  </ul>
</p>
