<h2>Test with array of Ember objects</h2>

<p><Multiselect-checkboxes @options={{this.persons}} @selection={{this.selectedPersons}} @labelProperty="name" @disabled={{this.personsDisabled}}/></p>

<p>
  <a href="#" {{action "selectAllPersons"}}>Select all</a>
  <a href="#" {{action "clearPersons"}}>Clear all</a>
  <a href="#" {{action "toggleDisabled"}}>Toggle Enabled/Disabled</a>
</p>

<p>Selected persons:
  <ul>
    {{#each this.selectedPersons as |person|}}
      <li>name: {{person.name}}, gender: {{person.gender}}</li>
    {{/each}}
  </ul>
</p>
