<h2>Test with an immutable array of Ember objects</h2>

<Multiselect-checkboxes
    @options={{this.persons}}
    @selection={{this.activeSelection}}
    @labelProperty="name"
    @updateSelectionValue={{false}}
    @onchange={{action 'updateSelection'}}/>

<p>Active selection:
  <ul>
    {{#each this.activeSelection as |person|}}
      <li>name: {{person.name}}, gender: {{person.gender}}</li>
    {{/each}}
  </ul>
</p>

<p>Selection history:
  <ol>
    {{#each this.selectionHistory as |selectionState|}}
      <li>
        <ul>
          {{#each selectionState as |person|}}
            <li>name: {{person.name}}, gender: {{person.gender}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ol>
</p>
